/* Color */
$primary-color: #3c4ff6;
$label-color: #8b9095;
$input-color: black;
$input-color-light: rgb(48, 48, 48);
$dark: #242424;
$active-color: #1a73e8;
$secondary-color: #ecefff;
$accent-color: #7ba4f7;
$error-color: #ff5233;

/* Media queries */
$breakpoint-tablet: 768px;
$breakpoint-phone: 425px;
