/* Color */
$primary-color: #fdcc2c;
// $primary-color: #6F92F4;
$primary-text-color: rgb(73, 73, 73);
$secondary-color: #ffe4b3;
$secondary-text-color: rgb(214, 214, 214);
$label-color: #8b9095;
$input-color: rgb(247, 247, 247);
$input-color-light: rgb(92, 92, 92);
$input-color-very-light: rgb(163, 163, 163);
$dark: #242424;
$active-color: hsl(214, 82%, 51%);
$accent-color: #7ba4f7;
$error-color: #ff5233;

/* Media queries */
$breakpoint-extra-small: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
