/*
 *  Global styles
 *
 *  Global styles for whole project. Predefines colors,
 *  text styles, commonly used classes and rules.
 *
 *  <pre><code>
 *      <div class="the markup this css file expects">
 *          You'll be ever so happy you included this part
 *          in about three months, when you come back to this
 *          project, having completely forgotten it's
 *          structure and purpose.
 *      </div>
 *  </code></pre>
 *
 *  @author     Vainius Vilkelis 
 *
*/

@use 'variables';

a {
  color: variables.$primary-text-color;
  text-decoration: none !important;
}
a:hover {
  color: initial;
  text-decoration: none !important;
}

.form-buttons {
  display: flex;
  flex-direction: column;
}

.input-button {
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 2px rgb(90, 90, 90);
  background-color: variables.$primary-color;
  color: variables.$input-color-light;

  &:hover {
    box-shadow: 1px 2px 5px rgb(90, 90, 90);
  }
}

.input-button-secondary {
  background-color: variables.$secondary-color;
  color: variables.$input-color-light;
}

.bigger {
  width: 175px;
  height: 50px;
}

.smaller {
  width: 100px;
  height: 50px;
}

.input-select {
  color: variables.$input-color-light;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 10px) calc(1em + (-2.5px)),
    calc(100% - 5px) calc(1em + (-2.5px));
  background-size: 5px 5px, 5px 5px, 1px;
  background-repeat: no-repeat;
}
